.main-page {
  background: gray;
  width: 100vw;
  height: 100vh;
}

.canvas {
  cursor: pointer;
  margin-top: 15px;
  background: white;
}

.color-width-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 120px;
  left: 20px;
  bottom: 300px;
  right: 1000px;
  width: 200px;
  height: 150px;
  align-items: flex-start;
  color: white;
}

.color-width-options output {
  margin-left: 60px;
}

.collection-btn {
  background: orchid;
  width: 110px;
  height: 40px;
  position: absolute;
  border: none;
  cursor: pointer;
  color: white;
}

.my-collection {
  top: 50px;
  left: 20px;
  bottom: 280px;
  right: 1100px;
}

.all-collections {
  top: 50px;
  left: 140px;
  bottom: 280px;
  right: 1000px;
}

@media screen and (max-width: 762px) {

  .canvas {
    cursor: pointer;
    margin-top: 15px;
    margin-left: 60px;
    background: white;
    width: 500px;
    height: 300px;
  }

  .collection-btn {
    background: orchid;
    width: 60px;
    height: 30px;
    position: absolute;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 8px;
  }

  .my-collection {
    top: 50px;
    left: 10px;
    bottom: 280px;
    right: 1100px;
  }

  .all-collections {
    top: 50px;
    left: 80px;
    bottom: 280px;
    right: 1000px;
  }

  .color-width-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 100px;
    left: 10px;
    bottom: 100px;
    right: 1000px;
    width: 100px;
    height: 120px;
    align-items: flex-start;
    color: white;
    font-size: 10px;
  }


}
